body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  font-size: 3rem;
  color: #f8f8f8;
}

h1 {
  font-size: 3rem;
}

.container {
  height: 100vh;
  margin: 0;
  padding: 1rem;

  background: linear-gradient(132deg, #e73c7e, #591BC5, #212335);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.counters {
  display: flex;
  margin: 3rem 0;
}

.counters span {
  color: #f8f8f8;
}

.counters button {
  font-weight: bold;
  min-width: 1.8rem;
  margin: auto 1.5rem;
  font-size: 0.8rem;
}

p {
  color: #f8f8f8;
  font-size: 1.8rem;
}

button {
  font-size: 1.2rem;
  display: block;
  margin: 1rem 0;
  cursor: pointer;
}
